* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    background-color: #d6d6d6;
    font-family: Arial;

}
  
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
  
}

.logo {
    vertical-align: middle;
  
}
  
h1 {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
  
}

.container {
    margin: auto;
    width: 60%;
    border-radius: 5px;
    background-color: #ffffff;
}
  
/* Pulsanti */
  
button {
    border-radius: 3px;
    border-width: thin;
    padding: 5px;
    
  
}
  
.b-button {
    background-color: #1b90ff;
    border-color: #1b90ff;

}
  
.w-button {
    background-color: #ffffff;
    border-color: #d9d9d9;
}
  
  