* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    background-color: #d6d6d6;
    font-family: Arial;

}
  
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
  
}

.logo {
    vertical-align: middle;
  
}
  
h1 {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
  
}

.container {
    margin: auto;
    width: 60%;
    border-radius: 5px;
    background-color: #ffffff;
}
  
/* Pulsanti */

.add {
    padding: 10px 30px;
}
  
button {
    border-radius: 3px;
    border-width: thin;
    padding: 5px;
    
  
}
  
.b-button {
    background-color: #1b90ff;
    border-color: #1b90ff;
    color: #ffffff;

}
  
.w-button {
    background-color: #ffffff;
    border-color: #d6d6d6;
    color: #d6d6d6;
}
  
/* Lista */

.list {
    margin: 30px;
  
}

.list ul {
    list-style: none;
}

.cerchio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid;
    line-height: 15px;
    

}

.done {
    border-color: green;
    color: green;

}

.to-do {

}