* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    background-color: #d6d6d6;
    font-family: Arial;

}
  
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
  
}

.logo {
    vertical-align: middle;
  
}
  
h1 {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
  
}

.container {
    margin: auto;
    width: 60%;
    border-radius: 5px;
    background-color: #ffffff;
}
  
/* Pulsanti */

.add {
    padding: 10px 30px;
}
  
button {
    border-radius: 3px;
    border-width: thin;
    padding: 5px;
    
  
}
  
.b-button {
    background-color: #1b90ff;
    border-color: #1b90ff;
    color: #ffffff;

}
  
.w-button {
    background-color: #ffffff;
    border-color: #d6d6d6;
    color: #d6d6d6;
}
  
/* Lista */

.list {
    margin: 30px;
  
}

.list ul {
    list-style: none;
    margin: 15px auto;
   
}

.list li {
    margin: 15px auto;

}

.cerchio {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid;
    line-height: 18px;
    text-align: center;
    margin-right: 5px;
    

}

.done {
    border-color: green;
    color: green;

}

.to-do {
    border-color: red;
    color: red;

}

/* Etichette */
.label {
    background-color: rgb(30, 188, 236);
    height: 15px;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    margin: 5px;
}

.azzurro {
    background-color: #45abea;
}

.viola {
    background-color: #9c72e4;
}

.verde {
    background-color: #64c0a9;
}

.arancione {
    background-color: #f29e33;
}

.rosa {
    background-color: #d863a1;
}

.lime {
    background-color: #b0c926;

}